<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partials/head', {
    isPostPage: true,
    hasMarkdown: true
}) %>
<body class="font-inter bg-gray-50 text-dark">
    <!-- 导航栏 -->
    <%- partial('_partials/header', { isPostPage: true }) %>

    <!-- 文章内容区域 -->
    <%- partial('_widgets/post/articleSection') %>
    
    <!-- 文章评论Valine -->
    <%- partial('_widgets/post/comments') %>

    <!-- 相关文章 -->
    <%- partial('_widgets/post/relatedArticles') %>
    <!-- 控制菜单的脚本 -->
    <%- partial('_partials/footerJs') %>
</body>
</html>